version: "3.8"

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - trove-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  dbt:
    build: ./db
    volumes:
      - ./db/dbt_project:/app
    depends_on:
      db:
        condition: service_healthy
    networks:
      - trove-net
    environment:
      DBT_PROFILES_DIR: /app/profiles

  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    networks:
      - trove-net

  frontend:
    build:
      context: ./frontend
      # dockerfile: prod.Dockerfile # Production
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app # Mount frontend code for hot reloading (DEV only)
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - trove-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      BACKEND_URL: http://backend:8000

volumes:
  db_data:

networks:
  trove-net:
    driver: bridge
